BODY
{
    FONT-FAMILY: "Verdana", sans-serif;
    FONT-SIZE: medium;
}
CODE
{
    FONT-SIZE: x-small;
}
DT
{
    FONT-WEIGHT:Bold;
}
A:link
{
    COLOR: #4e4887
}
A:visited
{
    COLOR: #8080c8
}
A:active
{
    COLOR: #f16043
}
A:hover
{
    COLOR: #f16043
}
P
{
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 0.5em
}
XMP
{
    BACKGROUND-COLOR: #ffdfbe;
    FONT-SIZE: x-small;
    MARGIN: 1em
}
PRE
{
    BACKGROUND-COLOR: #ffdfbe;
    FONT-SIZE: x-small;
    MARGIN: 1em
}
TD
{
	BORDER-WIDTH: 1; 
	PADDING: 2px; 
	FONT-SIZE: medium;
    MARGIN: 2px;
    TEXT-ALIGN: left
}
TH
{
    BACKGROUND-COLOR: #ffdfbe;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: medium;
    MARGIN: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left
}
TH
{
    BACKGROUND-COLOR: #ffaa57
}
UL
{
    MARGIN-TOP: 0.5em
}
OL
{
    MARGIN-TOP: 0.5em
}
H1
{
    COLOR: #336699;
    FONT-SIZE: large;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 4px
}
H2
{
    BORDER-LEFT: #4e4887 8px solid;
    BORDER-TOP: #4e4887 1px solid;
    COLOR: #4e4887;
    FONT-SIZE: small;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 4px
}
H3
{
    BORDER-LEFT: #4e4887 4px solid;
    BORDER-TOP: #4e4887 1px solid;
    COLOR: #4e4887;
    FONT-SIZE: x-small;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 4px
}
H4
{
    COLOR: #4e4887;
    FONT-SIZE: x-small;
    MARGIN-BOTTOM: 0.5em
}
H5
{
    COLOR: #4e4887;
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 0.5em
}
H6
{
    COLOR: #4e4887;
    FONT-SIZE: xx-small;
    FONT-STYLE: italic;
    MARGIN-BOTTOM: 0.5em
}


<!-- navigation tree styles{  } -->
.appNavOff
{
BORDER-BOTTOM: #336699 solid 1px;
BORDER-LEFT: #FFFFFF solid 1px;
BORDER-RIGHT: #FFFFFF solid 1px;
BORDER-TOP: #FFFFFF solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
FONT-WEIGHT: bold;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 6px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavUp
{
BACKGROUND-COLOR: #E0E0E0;
BORDER-BOTTOM: #800050 solid 1px;
BORDER-LEFT: #FFFFFF solid 1px;
BORDER-RIGHT: #800050 solid 1px;
BORDER-TOP: #FFFFFF solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
FONT-WEIGHT: bold;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 6px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavDown
{
BACKGROUND-COLOR: #E0E0E0;
BORDER-BOTTOM: #FFFFFF solid 1px;
BORDER-LEFT: #800050 solid 1px;
BORDER-RIGHT: #FFFFFF solid 1px;
BORDER-TOP: #800050 solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
FONT-WEIGHT: bold;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 6px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavChosen
{
BACKGROUND-COLOR: #336699;
BORDER-BOTTOM: #ffffff solid 1px;
BORDER-LEFT: #ffffff solid 1px;
BORDER-RIGHT: #ffffff solid 1px;
BORDER-TOP: #ffffff solid 1px;
COLOR: #E0E0E0;
CURSOR: hand;
FONT-SIZE: 14px;
FONT-WEIGHT: bold;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 6px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavChosenUp
{
BACKGROUND-COLOR: #E0E0E0;
BORDER-BOTTOM: #800050 solid 1px;
BORDER-LEFT: #FFFFFF solid 1px;
BORDER-RIGHT: #800050 solid 1px;
BORDER-TOP: #FFFFFF solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
FONT-WEIGHT: bold;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 1px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavChosenDown
{
BACKGROUND-COLOR: #E0E0E0;
BORDER-BOTTOM: #FFFFFF solid 1px;
BORDER-LEFT: #800050 solid 1px;
BORDER-RIGHT: #FFFFFF solid 1px;
BORDER-TOP: #800050 solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
FONT-WEIGHT: bold;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 1px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavSubOff
{
BORDER-BOTTOM: #336699 solid 1px;
BORDER-LEFT: #FFFFFF solid 1px;
BORDER-RIGHT: #FFFFFF solid 1px;
BORDER-TOP: #FFFFFF solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 25px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavSubUp
{
BACKGROUND-COLOR: #E0E0E0;
BORDER-BOTTOM: #800050 solid 1px;
BORDER-LEFT: #FFFFFF solid 1px;
BORDER-RIGHT: #800050 solid 1px;
BORDER-TOP: #FFFFFF solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 25px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavSubDown
{
BACKGROUND-COLOR: #E0E0E0;
BORDER-BOTTOM: #FFFFFF solid 1px;
BORDER-LEFT: #800050 solid 1px;
BORDER-RIGHT: #FFFFFF solid 1px;
BORDER-TOP: #800050 solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 25px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavSubChosen
{
BACKGROUND-COLOR: #336699;
BORDER-BOTTOM: #ffffff solid 1px;
BORDER-LEFT: #ffffff solid 1px;
BORDER-RIGHT: #ffffff solid 1px;
BORDER-TOP: #ffffff solid 1px;
COLOR: #E0E0E0;
CURSOR: hand;
FONT-SIZE: 14px;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 25px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavSubChosenUp
{
BACKGROUND-COLOR: #E0E0E0;
BORDER-BOTTOM: #800050 solid 1px;
BORDER-LEFT: #FFFFFF solid 1px;
BORDER-RIGHT: #800050 solid 1px;
BORDER-TOP: #FFFFFF solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 25px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}
.appNavSubChosenDown
{
BACKGROUND-COLOR: #E0E0E0;
BORDER-BOTTOM: #FFFFFF solid 1px;
BORDER-LEFT: #800050 solid 1px;
BORDER-RIGHT: #FFFFFF solid 1px;
BORDER-TOP: #800050 solid 1px;
COLOR: #336699;
CURSOR: hand;
FONT-SIZE: 14px;
LETTER-SPACING: 0pt;
LINE-HEIGHT: 20px;
MARGIN: 2px 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 25px;
PADDING-RIGHT: 3px;
PADDING-TOP: 0px;
TEXT-DECORATION: none;
WIDTH: 165px;
}



